* {
  margin: 0;
}
h1 {
  margin-top: 40px;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content #search-input {
  width: 40%;
  padding: 10px 25px;
  margin: 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 15px;
}
#content #search-btn {
  padding: 13px;
  background-color: #11c738;
  border: 1px #11c738;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
#content #search-btn:hover {
  background-color: #0e8f2a;
}
